.formulaire-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.formulaire-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.formulaire-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: center;
  padding-top: 5px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 5px;
  justify-content: space-between;
  background-color: var(--dl-color-danger-700);
}
.formulaire-container02 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.formulaire-image {
  width: 90px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.formulaire-container03 {
  width: 300px;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: 0px;
  justify-content: space-between;
}
.formulaire-container04 {
  cursor: pointer;
  display: flex;
  padding: 0px;
  transition: 0.3s;
  align-items: center;
  justify-content: space-between;
}

.formulaire-navlink {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  transition: 0.6s;
  font-weight: 600;
  text-decoration: none;
}
.formulaire-navlink:hover {
  color: var(--dl-color-gray-black);
}
.formulaire-container05 {
  width: 100px;
  display: flex;
  padding: 0px;
  align-items: center;
  justify-content: space-between;
}
.formulaire-icon {
  fill: var(--dl-color-gray-white);
  width: 30px;
  cursor: pointer;
  height: 30px;
  transition: 0.6s;
}
.formulaire-icon:hover {
  fill: var(--dl-color-gray-black);
}
.formulaire-navlink1 {
  display: contents;
}
.formulaire-icon02 {
  fill: var(--dl-color-gray-white);
  width: 30px;
  cursor: pointer;
  height: 30px;
  transition: 0.6s;
  text-decoration: none;
}
.formulaire-icon02:hover {
  fill: var(--dl-color-gray-black);
}
.formulaire-banner {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.47);
}
.formulaire-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  max-width: 100%;
  align-self: flex-end;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-end;
}
.formulaire-textinput {
  font-size: 0.75rem;
  border-color: var(--dl-color-gray-black);
  background-color: rgba(255, 255, 255, 0);
}
.formulaire-button {
  color: var(--dl-color-gray-white);
  cursor: pointer;
  font-size: 0.75rem;
  transition: 0.6s;
  margin-left: var(--dl-space-space-unit);
  border-width: 0px;
  background-color: var(--dl-color-danger-500);
}
.formulaire-button:hover {
  color: var(--dl-color-danger-700);
  font-style: normal;
  font-weight: 600;
  background-color: var(--dl-color-gray-black);
}
.formulaire-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 75px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-danger-700);
}
.formulaire-container08 {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1518888911788-e6a1194244c5?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDQ3fHxtYWRhZ2FzY2FyfGVufDB8fHx8MTY5MzgzODUyOHww&ixlib=rb-4.0.3&w=1500");
  background-repeat: no-repeat;
  background-position: center;
}
.formulaire-container09 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  min-width: 40%;
  align-self: center;
  box-shadow: 3px 3px 10px 0px #000000;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  border-radius: 40px;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: rgba(217, 217, 217, 0.41);
}
.formulaire-container10 {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.formulaire-text02 {
  height: auto;
  font-size: 2em;
}
.formulaire-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 5px;
  display: flex;
  align-items: flex-start;
  background-color: var(--dl-color-gray-black);
}
.formulaire-container11 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.formulaire-text05 {
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.formulaire-textinput1 {
  width: 100%;
  margin-left: var(--dl-space-space-unit);
  padding-top: 12px;
  border-color: var(--dl-color-gray-500);
  border-radius: 20px;
  padding-bottom: 12px;
}
.formulaire-container12 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.formulaire-text06 {
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.formulaire-textinput2 {
  width: 100%;
  margin-left: var(--dl-space-space-unit);
  padding-top: 12px;
  border-color: var(--dl-color-gray-500);
  border-radius: 20px;
  padding-bottom: 12px;
}
.formulaire-container13 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.formulaire-text07 {
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.formulaire-textinput3 {
  width: 100%;
  margin-left: var(--dl-space-space-unit);
  padding-top: 12px;
  border-color: var(--dl-color-gray-500);
  border-radius: 20px;
  padding-bottom: 12px;
}
.formulaire-container14 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
.formulaire-text08 {
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
}
.formulaire-textinput4 {
  width: 100%;
  margin-left: var(--dl-space-space-unit);
  padding-top: 12px;
  border-color: var(--dl-color-gray-500);
  border-radius: 20px;
  padding-bottom: 12px;
}
.formulaire-navlink2 {
  color: var(--dl-color-gray-white);
  width: auto;
  cursor: pointer;
  align-self: center;
  box-shadow: rgb(19, 19, 19) 5px 2px 5px 0px;
  text-align: justify;
  transition: 0.6s;
  margin-left: var(--dl-space-space-oneandhalfunits);
  padding-top: 10px;
  border-width: 0px;
  padding-left: 90px;
  border-radius: 20px;
  padding-right: 90px;
  padding-bottom: 10px;
  text-decoration: none;
  background-color: var(--dl-color-danger-700);
}
.formulaire-navlink2:hover {
  color: var(--dl-color-danger-700);
  font-style: normal;
  font-weight: 700;
  background-color: var(--dl-color-gray-black);
}
.formulaire-container15 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.formulaire-text09 {
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.formulaire-navlink3 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  text-decoration: none;
}
.formulaire-navlink3:hover {
  color: var(--dl-color-danger-500);
}
.formulaire-button1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.1s;
  border-radius: 30px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
}
.formulaire-button1:hover {
  color: var(--dl-color-gray-black);
  border-width: 0px;
  background-color: var(--dl-color-gray-white);
}
.formulaire-icon06 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.formulaire-text10 {
  font-style: normal;
  font-weight: 700;
}
.formulaire-button2 {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.6s;
  border-width: 0px;
  border-radius: 30px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-primary-100);
}
.formulaire-button2:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-primary-300);
}
.formulaire-icon08 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.formulaire-text11 {
  font-style: normal;
  font-weight: 700;
}
.formulaire-container16 {
  width: 100%;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: solid;
  border-width: 2px;
  flex-direction: row;
}
.formulaire-container17 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-danger-700);
}
.formulaire-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #D9D9D9;
}
.formulaire-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.formulaire-icon-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.formulaire-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.formulaire-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.formulaire-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 767px) {
  .formulaire-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .formulaire-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .formulaire-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .formulaire-container18 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .formulaire-text12 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .formulaire-header {
    padding: var(--dl-space-space-unit);
  }
  .formulaire-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .formulaire-container06 {
    align-items: center;
    flex-direction: column;
  }
  .formulaire-button {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .formulaire-footer {
    padding: var(--dl-space-space-unit);
  }
  .formulaire-container18 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .formulaire-text12 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
